@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap');
/*
style.css
Версия 2 от 05.07.2023
Версия 3 от 08.12.2023

 */

html {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

h1 {font-size: 24px;}
p{font-size: 16px;}
.block-title {
    text-align: center;
}

/* MAIN SETTINGS */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-white {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
}

.why-us {
    padding: 100px 20px 50px 20px;
}
/* HEADER */

.our-services {
    padding: 60px 20px 60px 20px;
}

header {
    font-size: 11pt;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;

}

.article__hero h1 {
    font-size: 36px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.wrapper {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.greenline {
    background-color: #3BC68B;
    height: 30px;
}

.hero {
    position: relative;
    background: url('/media/proc.jpg') center/cover;
    height: 100vh; /* Изменили высоту на 100vh */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Обрежем все, что выходит за границы секции */
    margin: 0; /* Убираем отступы */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1; /* Зададим z-index, чтобы затемнение было под текстом */
}

.photo-text-section {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.photo-text-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.welcome-container {
    display: flex;
    height: 100%;
    gap: 50px;
}

.welcome-image img {
    object-fit: contain;
    width: 70%;
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: end;
}

.welcome {
    height: 100vh;
    overflow: hidden;
    background-color: #3BC68B;
    border-radius: 0 0 10px 10px;
}

.welcome-text {
    color: white;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 462px;
}

.why-us-cards {
    display: grid;
  /*  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоматическое заполнение столбцов с минимальной шириной 300px */
    gap: 20px; /* Расстояние между карточками */
}

.why-us-container {
    display: flex;
    gap: 20px;
}

.why-us-card {
    background-color: #f5f5f5; /* Цвет фона для наглядности */
    padding: 20px; /* Отступ вокруг текста внутри карточки */
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-sizing: border-box;
    line-height: 25px;
}

.the-only-who-go {
    margin-top: 40px;
    display: flex;
    padding: 60px 40px 60px 40px;
    gap: 40px;
}
.the-only-who-go-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.the-only-who-go-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.green-section {
    background-color: #3BC68B;
    color: white;
}

.the-only-who-go-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.the-only-who-go-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.the-only-who-go-text h2 {
    margin-top: 0; /* Убираем верхний отступ для заголовка */
}

.the-only-who-go h2 {
    font-size: 24px; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ между заголовком и текстом */
}

.the-only-who-go p {
    font-size: 18px; /* Размер текста */
    line-height: 1.5; /* Межстрочный интервал */
}

.title {
    text-align: center;
}

/* Дополнительные стили, если нужно выровнять содержимое внутри карточек */
.why-us-card h2 {
    margin-bottom: 10px;
}

.text-content {
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.text-content h2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.text-content p {
    color: #555;
    line-height: 1.6;
}


.hero-content {
    position: relative;
    z-index: 2; /* Зададим z-index для текста, чтобы он был над затемнением */
    color: white;
    text-align: center;
    max-width: 630px;
}

.hero-content p {
    font-size: 20px;
    line-height: 35px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 16px;
}

.hero-btn {
    padding: 12px 25px;
    font-size: 1em;
    background-color: #3BC68B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 60px;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

.article__hero__text {
    text-align: center;
    max-width: 600px;
}


.article__hero h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.article__hero p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}




.header {
    height: 70px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.greenline-contacts {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.greenline-contacts__item {
    display: flex;
    color: white;
    align-items: center;
    margin-right: 30px;
}

.greenline-contacts__item_text {
	color: white;
}

.greenline-contacts__item:last-child {
    margin-right: 0px;
}

.greenline-contacts__item_img {
    display: flex;
    align-items: center;
}

.greenline-contacts__item_img img {
    width: 80%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu__logo img {
   height: 50px;
   margin-right: 30px;
}


.menuNav a {
    color: black !important;
}

.menuNav a:hover {
    text-decoration: none !important;
}
.menu__logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.menu__nav li, a {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 15px;

}

.menu__nav li:last-child {
    margin-right: 0px;
}

.menu__nav ul {
    padding: 0;
    margin: 0;
}

.menu_nav ul {

}

.button {
    padding: 14px;
    background-color:#3BC68B;
    border-radius: 30px;
    color: white;
}

.menu__calltoaction {
    flex: 1 0 auto;
    text-align: end;

}

.menu__calltoaction a {
    margin: 0;
}

.burger {
    display: none;
}

/* HERO */

.hero-item {
    display: flex;
}

.hero-image img {
    object-fit: fill;
    max-width: 50%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


.white {
    color: white;
}

.video-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}



.text {
    padding-top: 15px;
}

.text li {
    margin-bottom: 10px;
}

/* SERVICES */

.services {
    padding-top: 40px;
    padding-bottom: 60px;
}

.about {
    background-color:#3BC68B;
    padding-bottom: 40px;
}

.section-header {
    background-color: #3BC68B;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}



.section-header-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.section-header-content h1 {
    font-size: 28px;
}


.services-item {
    margin-right: 10px;
    padding: 15px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
    -moz-box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
    border-radius: 20px;
    background-color:rgb(247, 247, 247);
    font-size: 14px;
}

.s-img {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.services-item img {
    width: 55px;
    height: 60px;
}

.services-item p {
    width: 50%;
    font-size: 14px;
}

.services-list {
    display: flex;
}

.services-item p {
    text-align: justify;
}

.video-about-us {
    padding: 0px 20px 60px 20px;
}

/* LEAVE MESSAGE SECTION */
.leavemessage {
    height: 220px;
    background-color: #3BC68B;
    margin-top: 40px;
}

.section-message {
    display: flex;
    justify-content: space-between;
}

.message-button {
    display: flex;
    align-items: center;
}

.message-button a {
    color: black;
    background-color: white;
}

.map {
    position: relative;
}

.map-item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3BC68B;
    padding: 20px;
    color: white;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 8px;
}

.message-text {
    padding: 20px;
}

.footer_first {
    max-width: 500px;
}

.footer_second {
    text-align: left;
}

.phone {
    display: flex;
    margin-bottom: 20px;
}

.phone-img, .phone-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    background-color:rgb(192, 192, 192);
    text-align: center;
    justify-content: center;


}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;

}


.post-container {
    padding-top: 120px;
    overflow: hidden;
}


.prices {

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;



}

.price-item {
    background-color:#3BC68B;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
}


.price-item h3 {
    width: 80%;
}

.price {
    text-align: center;
}


.leader {
    display: flex;
    background-color: #3BC68B;
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
}

.leader img {
    width: 70%;
    border-radius: 50%;

}

.article__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.category-title {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}



.article__content {
    margin-top: 45px;
    line-height: 36px;
    margin-bottom: 40px;
}

.article__content p {
    margin: 0;
    padding:0;
    font-size: 20px;
    text-align: justify;
}

.article__content ul, .article__content li {
    font-size: 20px;
}

.article__content > p > img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article__image img {
    width: 100%;
    border-radius: 10px;
}

.articles__item {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin: 15px 0 15px 0;
    background-size: contain;

}


.leader-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-white {
    padding: 10px;
    color: black;
    background-color: #fff;
    border-radius: 30px;
}

.img-container  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;

}

.photo-gallery img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.content-title {
    margin-top: 30px;
}

.download {
    display: flex;
    margin-bottom: 20px;
}

.download-link {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-us-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-link a {
    color:#3BC68B;
}

#myCarousel {
    --f-carousel-slide-height: 60%;
    --f-carousel-spacing: 10px;
    height: auto;
  }

  .f-carousel__slide img {
    max-width: 100%;
    height: auto;
  }

.text-block {
    line-height: 33px;
    text-align: center;
    padding-bottom: 20px;
}

.more-about {
    padding-top: 40px;
    text-align: end;
}

.more-about a {
    color: #3BC68B;
}


/* LISTING */
.listing {
    background-color: #3BC68B;

}

.listing-container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

.listing-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.listing-image img {
    width: 100%;
    object-fit: cover;
}

.listing-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.block-flex {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
}

.txt-block {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
}


@media screen and (max-width: 1000px) {
    .wrapper, .container {
        max-width: 760px;
    }

    .why-us-container {
        flex-direction: column;
    }

    .why-us-reviews {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu__nav a {
        font-size: 10pt;
    }

    .menu__nav li {
        margin-right: 5px;
    }

    .ab {
        margin: 10px;
    }

    .services-item {
        width: 140px;
    }

    .services-item p {
        font-size: 12px;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
     overflow: hidden;
      max-width: 100%;
     }
      .embed-container iframe, .embed-container object, .embed-container embed {
         position: absolute;
          top: 0;
          left: 0;
           width: 100%;
           height: 100%;
         }

@media screen and (max-width: 760px) {

    .the-only-who-go {
        flex-direction: column;
    }

    .the-only-who-go-text {
        width: 100%;
    }
    .the-only-who-go-image {
        width: 100%;
        margin-right: 0px;
        padding-bottom: 40px;
    }

    .the-only-who-go-text {
        text-align: center;
    }

    .article__content {
        padding: 13px;
        line-height: 30px;
        text-align: justify;
    }
    p {
        font-size: 11pt;
    }

    h1 {
        font-size: 13pt;
    }

    .menu__calltoaction a {
        display: none;
    }

    .services-item p {
        font-size: 14px;
        font-weight: 600;
    }

    .text-block p {
        padding: 10px;
    }

    .text-block {

    }

    .listing-image {
        margin-right: 0px;
    }

    .listing-image img  {
        width: 70%;
    }

    .menu__nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #3BC68B;
        color: white;
        padding: 30px;
        margin-top: 70px;
        display: none;
        transition-delay: 1s;
    }

    .article__hero h1 {
        font-size: 24px;
    }


.listing-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.listing-text {
    width: 90%;
}

    .menu__nav li {
        display: block;


    }

    .menu__nav ul {
        border-bottom: 3px solid white;
        box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
        -webkit-box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
        -moz-box-shadow: 10px 10px 5px -7px rgba(130,130,130,0.75);
    }


    .menu__nav a {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 600;
        color: white;
    }

    .greenline-contacts {
        flex-direction: column;

    }

    .greenline-contacts__item {
        text-align: right;
        margin: 5px 5px;
        font-size: 9pt;
        padding: 0;
    }

    .greenline {
        display: none;
    }

    .menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    .burger {
        cursor: pointer;
        display: block;
    }

    .hero-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


    .hero {
        padding-top: 40px;
    }

    .welcome {
        height: 100vh;
        padding-top: 0px;
        overflow: hidden;
    }

    .welcome-container {
        flex-direction: column-reverse;
        overflow: hidden;
        text-align: center;
        align-items: center;
    }

    .welcome-text {
        margin-right: 0px;
        width: 100%;
        margin-top: 110px;
        max-width: 425px;
    }
    .welcome-image {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .welcome-image img {
        width: 70%;
    }

    .hero-text {
        margin-top: 190px;
        text-align: center;
        margin-right: 0px;
        padding: 0px 65px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-image img {
        width: 50%;
    }




    .hero-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


    .hero {
        padding-top: 40px;
    }

    .hero-text {
        margin-top: 190px;
        text-align: center;
        margin-right: 0px;
        padding: 0px 65px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-image img {
        width: 50%;
    }


    .section-header {
        text-align: center;
    }

    .section-message {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .message-button {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .map {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .map-text {

        text-align: center;
        margin-bottom: 40px;
    }

    .phone {
        justify-content: center;
    }

    .map-item {
        text-align: center;
        position: unset;
        display: block;
        border-radius: 8px 8px 0px 0px;
        width: auto;
        margin-right: 0px;
    }

    .leader {
        flex-direction: column;
        text-align: center;
    }

    footer {
        margin-top: 0px;
    }
    .footer {
        flex-direction: column;
        padding: 50px;
    }

    .footer_first {
        max-width: 100%;
    }
    .footer_second {
        text-align: center;
    }


.post-container {
    padding-top: 180px;
}

.photo-gallery img {
    width: 100%;
}

.services-list {
    flex-direction: column;
    align-items: center;
}

.services-item {
    width: 85%;
}

}
